name: "README build"

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Build & Update SVGs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Install Rust Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Cache cargo
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Build Release Binary
        run: cargo build --release

      - name: Run Generator
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          USER_NAME: halfguru
        run: cargo run --release

      - name: Commit Updated Files
        run: |
          git add dark_mode.svg light_mode.svg README.md || true
          git diff
          git config --global user.email "github-actions-bot@github.com"
          git config --global user.name "halfguru/GitHub-Actions-Bot"
          git commit -m "Updated README and SVGs" -a || echo "No changes to commit"
          git push

  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo test --all-features

  formatting:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1
